.apply-wrapper {
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
}

.portal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 34, 85, 0.95);
  padding: 1rem 2rem;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.school-name {
  font-size: 1rem;
  font-weight: bold;
}

.login-link {
  cursor: pointer;
  font-size: 1rem;
}

.apply-main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blue-overlay {
  background: rgba(5, 42, 145, 0.5);
  padding: 3rem;
  width: 90%;
  height: 83%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  color: white;
}

.registration-box {
  background: white;
  padding: 30px;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
  color: black;
}

.section-header {
  color: #0047ab;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.top-options {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.option-card {
  width: 180px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  text-align: center;
}

.option-card:hover {
  transform: scale(1.05);
  background-color: #2e74de93;
}

.blue-icon {
  width: 60px;
  height: 60px;
  background-color: #002255;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 28px;
  color: white;
}
